
        #circle-box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            height: 160px;
            background-color: black;
            box-shadow: 5px 10px 10px #888888;
            margin: 80px auto;
            padding: 0;
        }
        
        #circle-box > div {
            height: 80px;
            flex-flow: row wrap;
            width: 80px;
            border-radius: 50%;
            margin: 10px;
            padding: 10px;
            font-size: 30px;
            text-align: center;
        }
        
        #red-circle {
            background-color: red;
        }
        
        #blue-circle {
            background-color: blue;
        }
        
        #green-circle {
            background-color: greenyellow;
        }
        
        #reset-button-div {
            text-align: center;
        }
        
        #reset {
            padding: 6px;
            border-radius: 10%;
            width: 80px;
            height: 40px;
        }
        
        #reset:hover {
            box-shadow: 5px 5px 5px #888888;
        }
        
        #reset:focus {
            outline: 0;
        }
        